
@{//vars
    var mode = Session["mode"];
    mode = "Leraar";
    string ontvanger, msgbody, onderwerp;
    string connectionString = @"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Blackboard.mdf;Integrated Security=True";
    string provider = "System.Data.SqlClient";
    Database db = Database.OpenConnectionString(connectionString, provider);
    string sql;
    dynamic result = "";



    string errorMessage = "";


    if (mode.ToString() == "Student")
    {
        if (Request.QueryString["course"] != null)
        {
            int courseid = Request.QueryString["course"].AsInt();
            sql = "Select * FROM leraar INNER JOIN leraar_course ON leraar.leraarid = leraar_course.leraarid WHERE leraar_course.courseid=@0";
            result = db.Query(sql, courseid);
        }
        if (Request.QueryString["ontvanger"] != null)
        {
            Session["ontvanger"] = Request.QueryString["ontvanger"];
        }
    }
    else if (mode.ToString() == "Leraar")
    {
        if (Request.QueryString["course"] != null)
        {
            int courseid = Request.QueryString["course"].AsInt();
            sql = "SELECT * FROM student INNER JOIN krijgt_cijfer ON student.studentid = krijgt_cijfer.studentid WHERE krijgt_cijfer.courseid = @0";
            result = db.Query(sql, courseid);
        }
        if (Request.QueryString["ontvanger"] != null)
        {
            if(Request.QueryString["ontvanger"] == "all")
            {
                string to = "";
                foreach(var row in result)
                {
                    to += row.emailadres + ';';
                }
                <h1>EMAILS:@to</h1>
            }
            else
            {

            }
        }
    }

    //ispost
    if (IsPost)
    {
        if (mode.ToString() == "Student")
        {
            ontvanger = Session["ontvanger"].ToString();
        }
        else
        {
            ontvanger = Request.Form["ontvanger"];
        }

        onderwerp = Request.Form["onderwerp"];

        msgbody = Request.Form["msgbody"];





        try
        {

            WebMail.SmtpServer = "smtp.gmail.com";
            WebMail.SmtpPort = 587;
            WebMail.EnableSsl = true;
            WebMail.UserName = "noreplyzwartbord@gmail.com";
            WebMail.Password = "Blackboard123";



            WebMail.Send(to: ontvanger,
                subject: "Blackboard| " + onderwerp,
                body: msgbody
            );
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
    }
}

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="~/materialize/materialize.css" media="screen,projection" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="~/materialize/materialize.js"></script>
    <script type="text/javascript" src="~/Pages/mail/mail.js"></script>

</head>
<body>

    <div class="container">
        <div class="col l12">
            <div class="row">
                <form method="post">
                    <div class="row">
                        @{ if (mode.ToString() == "Student")
                            {
                                sql = "SELECT * FROM course";
                                dynamic courseresult = db.Query(sql);


                                if (Request.QueryString["course"] == null) // als er nog geen course gekozen is
                                {
                                    <h4>Selecteer de course waarover je een vraag hebt uit het drop-down menu.</h4>
                                    <ul id="coursedropdown" class="dropdown-content">



                                        @foreach (var row in courseresult)
                                        {
                                            <li><a href="@Request.Url?course=@row.courseid">@row.naam</a></li>
                                        }



                                    </ul>

                                    <a class="btn dropdown-button" href="#" data-activates="coursedropdown">
                                        Course
                                        <i class="mdi-navigation-arrow-drop-down right"></i>
                                    </a>
                                }
                                else if (Request.QueryString["ontvanger"] == null) // als er nog geen leraar bij de gekozen course uitgekozen is
                                {
                                    <h4>Selecteer de leraar aan wie je wilt mailen van de course @Request.QueryString["course"] uit het drop-down menu.</h4>
                                    <ul id="dropdown" class="dropdown-content">



                                        @foreach (var row in result)
                                        {
                                            <li><a href="@Request.Url&ontvanger=@row.Emailadres">@row.voornaam</a></li>
                                        }

                                        

                                    </ul>

                                    <a class="btn dropdown-button" href="#" data-activates="dropdown">
                                        Leraar
                                        <i class="mdi-navigation-arrow-drop-down right"></i>
                                    </a>
                                }
                                else // is alles ingevuld.
                                {
                                    <h4>Voer een onderwerp en bericht in, en klik op Verstuur om te versturen!</h4>
                                }


                            }

                            else if (mode.ToString() == "Leraar")
                            {
                                sql = "SELECT * FROM course";
                                dynamic courseresult = db.Query(sql);

                                if (Request.QueryString["course"] == null) // als er nog geen course gekozen is
                                {
                                    <h4>Selecteer de course waar je een announcement voor wilt doen.</h4>
                                    <ul id="coursedropdown" class="dropdown-content">



                                        @foreach (var row in courseresult)
                                        {
                                            <li><a href="@Request.Url?course=@row.courseid">@row.naam</a></li>
                                        }



                                    </ul>

                                    <a class="btn dropdown-button" href="#" data-activates="coursedropdown">
                                        Course
                                        <i class="mdi-navigation-arrow-drop-down right"></i>
                                    </a>
                                }
                                else if (Request.QueryString["ontvanger"] == null) // als er nog geen student bij de gekozen course uitgekozen is
                                {
                                    <h4>Selecteer de student(en) aan wie je wilt mailen van de course @Request.QueryString["course"] uit het drop-down menu.</h4>
                                    <ul id="dropdown" class="dropdown-content">



                                        @foreach (var row in result)
    {
                                    <li><a href="@Request.Url&ontvanger=@row.Emailadres">@row.voornaam</a></li>
}

                                        <li><a href="@Request.Url&ontvanger=all">Alle</a></li>

                                    </ul>

                                    <a class="btn dropdown-button" href="#" data-activates="dropdown">
                                        Student
                                        <i class="mdi-navigation-arrow-drop-down right"></i>
                                    </a>
                                }
                                else // is alles ingevuld.
                                {
                                    <h4>Voer een onderwerp en bericht in, en klik op Verstuur om te versturen!</h4>
                                }






                            }
                        }





                        <div class="input-field col s6">
                            <input name="onderwerp" id="onderwerp" type="text" class="validate">
                            <label for="onderwerp">Onderwerp</label>
                        </div>
                    </div>
                    <div class="input-field col s12">
                        <textarea name="msgbody" id="msgbody" class="materialize-textarea"></textarea>
                        <label for="msgbody">Bericht</label>
                    </div>
                    <button class="btn waves-effect waves-blue" type="submit" id="Submit" name="submit">
                        Verstuur
                        <i class="material-icons right">send</i>
                    </button>
                    @{ if (errorMessage != "")
                        {
                            <p>@errorMessage</p>
                        }


                    }

                </form>
            </div>
        </div>
    </div>

</body>

