@RenderPage("~/Pages/template/header.cshtml")
@{//vars
    if (Session["mode"] == null)
    {
        Response.Redirect("~/Pages/login/login.cshtml");
    }
    var mode = Session["mode"];
    mode = "Leraar";
    int studentid = 0;

    string ontvanger = "", msgbody = "", onderwerp = "";
    string connectionString = @"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Blackboard.mdf;Integrated Security=True";
    string provider = "System.Data.SqlClient";
    Database db = Database.OpenConnectionString(connectionString, provider);
    string sql;
    dynamic result = "";
    if (Session["studentid"] != null)
    {
        studentid = Convert.ToInt32(Session["studentid"]);
    }

    string errorMessage = "";


    if (mode.ToString() == "Student")
    {

        if (Request.QueryString["course"] != null)
        {
            int courseid = Request.QueryString["course"].AsInt();
            sql = "Select * FROM leraar INNER JOIN leraar_course ON leraar.leraarid = leraar_course.leraarid WHERE leraar_course.courseid=@0";
            result = db.Query(sql, courseid);
        }
        if (Request.QueryString["ontvanger"] != null)
        {
            Session["ontvanger"] = Request.QueryString["ontvanger"];
        }
    }
    else if (mode.ToString() == "Leraar")
    {
        if (Request.QueryString["course"] != null)
        {
            int courseid = Request.QueryString["course"].AsInt();
            sql = "SELECT * FROM student INNER JOIN krijgt_cijfer ON student.studentid = krijgt_cijfer.studentid WHERE krijgt_cijfer.courseid = @0";
            result = db.Query(sql, courseid);
        }
        if (Request.QueryString["ontvanger"] != null)
        {
            if (Request.QueryString["ontvanger"] == "all")
            {

                foreach (var row in result)
                {
                    ontvanger += row.emailadres + ',';
                }
                ontvanger = ontvanger.Remove(ontvanger.Length - 1);
                <h1>EMAILS:@ontvanger.ToString()</h1>
                Session["ontvanger"] = ontvanger;
            }
            else
            {
                Session["ontvanger"] = Request.QueryString["ontvanger"];
            }
        }
    }

    //ispost
    if (IsPost)
    {

        ontvanger = Session["ontvanger"].ToString();


        onderwerp = Request.Form["onderwerp"];

        msgbody = Request.Form["msgbody"];





        try
        {

            WebMail.SmtpServer = "smtp.gmail.com";
            WebMail.SmtpPort = 587;
            WebMail.EnableSsl = true;
            WebMail.UserName = "noreplyzwartbord@gmail.com";
            WebMail.Password = "Blackboard123";



            WebMail.Send(to: ontvanger,
                subject: "Blackboard| " + onderwerp,
                body: msgbody
            );
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
    }
}

<script src="~/Pages/mail/mail.js"></script>
<body>
    <main>
        <div class="container test">
            <div class="col l12">
                
                <form method="post">
                    <div class="row">
                        @{ if (mode.ToString() == "Student")
                            {
                                sql = "SELECT * FROM course LEFT JOIN krijgt_cijfer ON course.courseid = krijgt_cijfer.courseid WHERE krijgt_cijfer.studentid=@0";
                                dynamic courseresult = db.Query(sql, studentid);


                                if (Request.QueryString["course"] == null) // als er nog geen course gekozen is
                                {
                                    <h4>Selecteer de course waarover je een vraag hebt uit het drop-down menu.</h4>
                                    <ul id="coursedropdown" class="dropdown-content">



                                        @foreach (var row in courseresult)
                                        {
                                            <li><a href="@Request.Url?course=@row.courseid">@row.naam</a></li>
                                        }



                                    </ul>

                                    <a class="btn dropdown-button" href="#" data-activates="coursedropdown">
                                        Course
                                        <i class="mdi-navigation-arrow-drop-down right"></i>
                                    </a>
                                }
                                else if (Request.QueryString["ontvanger"] == null) // als er nog geen leraar bij de gekozen course uitgekozen is
                                {
                                    <h4>Selecteer de leraar aan wie je wilt mailen van de course @Session["coursename"].ToString() uit het drop-down menu.</h4>
                                    <ul id="dropdown" class="dropdown-content">



                                        @foreach (var row in result)
                                        {
                                            <li><a href="@Request.Url&ontvanger=@row.Emailadres">@row.voornaam</a></li>
                                        }



                                    </ul>

                                    <a class="btn dropdown-button" href="#" data-activates="dropdown">
                                        Leraar
                                        <i class="mdi-navigation-arrow-drop-down right"></i>
                                    </a>
                                }
                                else // is alles ingevuld.
                                {
                                    <h4>Voer een onderwerp en bericht in, en klik op Verstuur om te versturen!</h4>
                                }


                            }

                            else if (mode.ToString() == "Leraar")
                            {
                                sql = "SELECT * FROM course";
                                dynamic courseresult = db.Query(sql);

                                if (Request.QueryString["course"] == null) // als er nog geen course gekozen is
                                {
                                    <h4>Selecteer de course waar je een announcement voor wilt doen.</h4>
                                    <ul id="coursedropdown" class="dropdown-content">



                                        @foreach (var row in courseresult)
                                        {
                                            <li><a href="@Request.Url?course=@row.courseid">@row.naam</a></li>
                                        }



                                    </ul>

                                    <a class="btn dropdown-button" href="#" data-activates="coursedropdown">
                                        Course
                                        <i class="mdi-navigation-arrow-drop-down right"></i>
                                    </a>
                                }
                                else if (Request.QueryString["ontvanger"] == null) // als er nog geen student bij de gekozen course uitgekozen is
                                {

                                   
                                    <h4>Selecteer de student(en) aan wie je wilt mailen van de course @Session["coursename"].ToString() uit het drop-down menu.</h4>
                                    <ul id="dropdown" class="dropdown-content">



                                        @foreach (var row in result)
                                        {
                                            <li><a href="@Request.Url&ontvanger=@row.Emailadres">@row.voornaam</a></li>
                                        }

                                        <li><a href="@Request.Url&ontvanger=all">Alle</a></li>

                                    </ul>

                                    <a class="btn dropdown-button" href="#" data-activates="dropdown">
                                        Student
                                        <i class="mdi-navigation-arrow-drop-down right"></i>
                                    </a>
                                }
                                else // is alles ingevuld.
                                {
                                    <h4>Voer een onderwerp en bericht in, en klik op Verstuur om te versturen!</h4>
                                }






                            }
                        }





                        <div class="input-field col s6">
                            <input name="onderwerp" id="onderwerp" type="text" class="validate">
                            <label for="onderwerp">Onderwerp</label>
                        </div>
                    </div>
                    <div class="input-field col s12">
                        <textarea name="msgbody" id="msgbody" class="materialize-textarea"></textarea>
                        <label for="msgbody">Bericht</label>
                    </div>
                    <button class="btn waves-effect waves-blue" type="submit" id="Submit" name="Submit">
                        Verstuur
                        <i class="material-icons right">send</i>
                    </button>
                    @{ if (errorMessage != "")
                        {
                            <p>@errorMessage</p>
                        }


                    }

                </form>

            </div>
        </div>
    </main>

</body>
@RenderPage("~/Pages/template/Footer.cshtml")
